/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f4f7;
    margin-bottom: 25px;
    padding: 25px;
    color: #2d3436;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2d3436;
    border-bottom: 2px solid #81ecec;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #81ecec;
}

.register-btn {
    background-color: #6c5ce7;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #81ecec;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #dfe6e9;
}

.hero-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.content {
    flex: 1;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Grid Section */
.grid-section {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-image: url('laptop.webp');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.grid-section .card {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #b2bec3;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.card {
    background-color: #ffffff;
    border: 1px solid #b2bec3;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.register-container {
    grid-column: span 3;
    text-align: center;
    margin-top: 10px;
}

/* Steps Section */
.steps-section {
    padding: 20px;
    background-color: #dfe6e9;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.step {
    background-color: #ffffff;
    border: 1px solid #b2bec3;
    border-radius: 5px;
    padding: 15px;
    width: 150px;
}

.steps-section .register-btn {
    display: inline-block;
    margin-top: 20px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #2d3436;
    color: #fff;
    margin-top: 20px;
    justify-content: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: auto;
    max-width: 600px;
}

td {
    border: 0px solid #dfe6e9;
    padding: 10px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f2f4f7;
    color: #2d3436;
}

.list-logo {
    text-align: left;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #6c5ce7;
}

.list-links {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .grid-section {
        display: block;
        margin-block: 10px;
    }
    .card {
        margin-top: 10px;
    }
}
